html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#grid-container {
    display: grid;
    
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    /*REPEAT 12 TIMES and fr or px*/
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-columns: 100px 100px 100px; */
    /* grid-template-columns: 100px 100px; */
    /* grid-template-columns: 100px; */
}

header {
    font-size: 22px;
    background-color: dodgerblue;
    text-align: center;
    /*MOVED TO TOP(1)/(4) STRETCHED HOW FAR...*/
    /* grid-column: 1 / 4; */
    grid-column: 1 / 13;
}

nav {
    background-color: darkorchid;
    /* grid-column: 1 / 2; */
    /* grid-column: 1 / 5; */
    grid-column: 8 / 13;
}

nav > div {
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
}

main {
    background-color: darkgreen;
    /* grid-column: 2 / 4; */

    /* grid-column: 5 / 13; */
    grid-column: 1 / 8;
    grid-row: 2 / 3;
}

footer {
    font-size: 20px;
    background-color: darkslateblue;
    text-align: center;
    /* grid-column: 1 / 4; */
    /* grid-column: 1 / 13; */
    grid-column: 1 / span 12;
}



#box1 {
    background-color: blue; 
    grid-column: 3 / 4;   
    grid-row: 3 / 4;
}

#box9 {
    background-color: orange; 
    grid-row: 1 / 2;
      
}